<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Super Smash Bros Character Library</title>
</head>
<body>
    <h1>Welcome to our Smash Bro Character Library</h1>
    <p>Please Select what you would like to do?</p>
    <a href="/character-library">View Characters</a>
    <br>
    <a href="/create-character">Create a new Character</a>
    
</body>
</html>